.App {
  font-family: sans-serif;
  text-align: left;
  padding: 20px;
}

.Location {
  display: flex;
}

.item {
  margin-right: 10px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
