.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 20px;
  background: linear-gradient(90.4deg, #13044e, #c1630b);
  color: #ffffff;
  max-width: 600px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
}

.App h1 {
  color: #c1630b;
  margin: 20px 0 0 0;
  font-weight: 100;
  font-size: 20px;
}
.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  color: #ffffff;
  font-size: 16px;
  list-style: none;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #13044e;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

a {
  color: #c1630b;
  font-size: 14px;
  text-decoration: none;
}
.App img {
  margin-right: 5px;
  display: inline-block;
  margin-right: 5px;
}
.App .temp {
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  line-height: 40px;
}
.App .unit {
  position: relative;
  top: -20px;
  line-height: 1;
}
