.App {
  font-family: sans-serif;
  text-align: left;
  padding: 20px;
  background: linear-gradient(90.4deg, #c1630b, #13044e);
  max-width: 900px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}
.App-link-header {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.App-link-header:hover {
  text-decoration: underline;
}

.Location {
  display: flex;
}

.item {
  margin-right: 10px;
}

h1 {
  display: flex;
  font-size: 15px;
  padding-bottom: 10px;
  justify-content: space-between;
}
input[type="search"] {
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.Location {
  font-size: 20px;
  color: #13044e;
  padding-top: 10px;
}
.Day-time {
  font-size: 16px;
  color: white;
}
.Weather-desc {
  font-size: 16px;
  color: white;
  padding-bottom: 15px;
}
.Tempp {
  font-size: 50px;
  color: #13044e;
}
.Units {
  position: relative;
  font-size: 20px;
  top: -30px;
  color: #13044e;
}
li {
  list-style: none;
}
Days {
  justify-content: space-evenly;
}
